<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Bienvenido/a a <%= title %></p>
    <p>
      Consulta la documentación de la API en <a href="<%= url %>"><%= url %></a>
    </p>
  </body>
</html>
